.bold {
  font-weight: bold;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #777;
}

.text-red {
  color: #F00;
}

.bg-white {
  background-color: #FFF;
}

.bg-yellow {
  background-color: #ffc444;
}

.bg-pink {
  background-color: #ffcccc;
}

.error {
  color: #F00;
}

a,a:active,a:hover,a:visited,a:link {
	text-decoration: none;
}
